# Complete Solutions — Data Types & Structures Assignment

This notebook contains **100%** of the answers (theory + practical code) for the provided PW Skills assignment PDF.


## Theory Questions — Answers

**Q1: What are data structures, and why are they important?**

**Answer:** Data structures are ways to store and organize data so it can be used efficiently. They are important because they affect performance (time and memory), determine how data is accessed and modified, and help solve problems effectively.

**Q2: Differentiate between mutable and immutable data types with examples.**

**Answer:** Mutable types can be changed after creation (e.g., `list`, `dict`, `set`). Immutable types cannot be changed (e.g., `int`, `float`, `str`, `tuple`).

**Q3: What are the main differences between lists and tuples in Python 3?**

**Answer:** Lists are mutable and use `[]`. Tuples are immutable and use `()`. Lists support methods like `.append()` and `.remove()`; tuples are typically faster and can be used as dictionary keys when they contain only immutable elements.

**Q4: Describe how dictionaries store data.**

**Answer:** Dictionaries store data as key–value pairs. Internally they use a hash table where a key's hash determines where the value is stored. This allows average O(1) time complexity for lookups, inserts, and deletions.

**Q5: Why might you use a set instead of a list in Python 3?**

**Answer:** Use a set when you need uniqueness of elements and fast membership tests (average O(1) membership). Sets do not preserve order and do not allow duplicates.

**Q6: What is a string in Python, and how is it different from a list?**

**Answer:** A string is an immutable sequence of characters. A list is a mutable sequence that can contain elements of different types. Strings support string-specific methods and are immutable, so operations return new strings.

**Q7: How do tuples ensure data integrity in Python 3?**

**Answer:** Because tuples are immutable, their contents cannot be changed after creation, which prevents accidental modification and is useful when a fixed collection of items is required.

**Q8: What is a hash table, and how does it relate to dictionaries in Python 3?**

**Answer:** A hash table maps keys to values using a hash function. Python dictionaries are implemented using hash tables: a key is hashed to find an index where its value is stored.

**Q9: Can lists contain different data types in Python 3?**

**Answer:** Yes. Lists are heterogeneous and can contain integers, strings, objects, other lists, etc.

**Q10: Explain why strings are immutable in Python.**

**Answer:** Strings are immutable to allow safe sharing, efficient caching, and use as dictionary keys. Immutability ensures their hash value doesn't change over time.

**Q11: What advantages do dictionaries offer over lists for certain tasks?**

**Answer:** Dictionaries provide fast key-based lookup, clear mapping semantics (key → value), and are ideal when you need associative arrays or quick access by unique identifiers.

**Q12: Describe a scenario where using a tuple would be preferred over a list.**

**Answer:** Use a tuple for fixed sets of values (e.g., coordinates `(x, y)`), when immutability is desired, or when the tuple will be used as a dictionary key.

**Q13: How do sets handle duplicate values in Python 3?**

**Answer:** Sets automatically remove duplicates — each element appears only once.

**Q14: How does the `in` keyword work differently for lists and dictionaries?**

**Answer:** For lists, `in` checks if an element exists as a value (linear scan). For dictionaries, `in` checks for the presence of a key (hash lookup, average O(1)).

**Q15: Can you modify the elements of a tuple? Explain.**

**Answer:** You cannot change elements of a tuple directly (it's immutable). However, if a tuple contains a mutable object (like a list), that inner object can be modified.

**Q16: What is a nested dictionary? Give an example of its use.**

**Answer:** A nested dictionary is a dictionary that has dictionaries as values. Example use: storing user records: `{'alice': {'age': 25, 'city': 'Delhi'}, 'bob': {...}}`.

**Q17: Explain time complexity of accessing elements in a dictionary.**

**Answer:** Average-case O(1) due to hash table. Worst-case can degrade to O(n) in pathological hash collision scenarios.

**Q18: In what situations are lists preferred over dictionaries?**

**Answer:** When order matters, when you need indexed access by position, when elements are homogeneous and no key–value mapping is needed.

**Q19: Why are dictionaries considered unordered (note: in modern Python 3.7+, insertion order is preserved)?**

**Answer:** Historically dictionaries were unordered due to hash-based storage. As of Python 3.7, insertion order is preserved as an implementation detail; conceptually they remain hash tables optimized for fast lookup.

**Q20: Explain the difference between a list and a dictionary in terms of data retrieval.**

**Answer:** Lists retrieve by index (position-based) — O(1) for access by index; dictionaries retrieve by key (associative) — average O(1) for key lookup but may require hashing of the key.

## Practical Answers (All questions)

### Strings & Lists — initial tasks

In [ ]:
# 1. Create a string with your name and print it
name = 'VM s World'
print(name)

In [ ]:
# 2. Find the length of the string 'Hello World'
s = 'Hello World'
print(len(s))

In [ ]:
# 3. Slice first 3 characters from 'Python Programming'
s = 'Python Programming'
print(s[:3])

In [ ]:
# 4. Convert 'hello' to uppercase
print('hello'.upper())

In [ ]:
# 5. Replace 'apple' with 'orange'
s = 'I like apple'
print(s.replace('apple','orange'))

In [ ]:
# 6. Create a list with numbers 1 to 5 and print it
lst = [1,2,3,4,5]
print(lst)

In [ ]:
# 7. Append 6 to the list
lst.append(6)
print(lst)

In [ ]:
# 8. Remove 3 from the list
if 3 in lst:
    lst.remove(3)
print(lst)

In [ ]:
# 9. Access second element
print(lst[1])

In [ ]:
# 10. Reverse the list
print(lst[::-1])

### Numbered questions 11 - 30

**11. Create a tuple with 100,200,300 and print it**

In [ ]:
t = (100,200,300)
print(t)

**12. Access second-to-last element of ('red','green','blue','yellow')**

In [ ]:
t2 = ('red','green','blue','yellow')
print(t2[-2])

**13. Find minimum in (10,20,5,15)**

In [ ]:
t3 = (10,20,5,15)
print(min(t3))

**14. Index of 'cat' in ('dog','cat','rabbit')**

In [ ]:
t4 = ('dog','cat','rabbit')
print(t4.index('cat'))

**15. Tuple of three fruits and check 'kiwi' in it**

In [ ]:
fruits = ('apple','banana','mango')
print('kiwi' in fruits)

**16. Create set {'a','b','c'} and print**

In [ ]:
s = {'a','b','c'}
print(s)

**17. Clear all elements from set {1,2,3,4,5}**

In [ ]:
s2 = {1,2,3,4,5}
s2.clear()
print(s2)

**18. Remove element 4 from set {1,2,3,4}**

In [ ]:
s3 = {1,2,3,4}
s3.discard(4)
print(s3)

**19. Union of {1,2,3} and {3,4,5}**

In [ ]:
A = {1,2,3}
B = {3,4,5}
print(A.union(B))

**20. Intersection of {1,2,3} and {2,3,4}**

In [ ]:
A = {1,2,3}
B = {2,3,4}
print(A.intersection(B))

**21. Create dict with keys name, age, city and print**

In [ ]:
student = {'name':'John','age':25,'city':'Delhi'}
print(student)

**22. Add 'country':'USA' to {'name':'John','age':25}**

In [ ]:
d = {'name':'John','age':25}
d['country']='USA'
print(d)

**23. Access 'name' in {'name':'Alice','age':30}**

In [ ]:
d2 = {'name':'Alice','age':30}
print(d2['name'])

**24. Remove key 'age' from {'name':'Bob','age':22,'city':'New York'}**

In [ ]:
d3 = {'name':'Bob','age':22,'city':'New York'}
d3.pop('age', None)
print(d3)

**25. Check if key 'city' exists in {'name':'Alice','city':'Paris'}**

In [ ]:
d4 = {'name':'Alice','city':'Paris'}
print('city' in d4)

**26. Create a list, tuple, and dictionary, and print them**

In [ ]:
lst = [1,2,3]
tpl = (4,5,6)
dct = {'a':1,'b':2}
print(lst)
print(tpl)
print(dct)

**27. Create a list of 5 random numbers between 1 and 100, sort ascending, and print**

In [ ]:
import random
rand_list = [random.randint(1,100) for _ in range(5)]
rand_list.sort()
print(rand_list)

**28. Create list with strings and print element at index 3**

In [ ]:
lst2 = ['a','b','c','d','e']
print(lst2[3])

**29. Combine two dictionaries and print result**

In [ ]:
d1 = {'x':1}
d2 = {'y':2}
combined = {**d1, **d2}
print(combined)

**30. Convert a list of strings into a set**

In [ ]:
str_list = ['apple','banana','apple']
print(set(str_list))